.login-section {
  display: flex;
  flex-direction: row;
  height: 80vh;
  width: 80vw;
  
  margin: auto;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  box-sizing: border-box;
}

.imagelogin-container {
  flex: 1;
  background-image: url('../../assets/farmer1.png');
  background-size: cover;
  border-radius: 10px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8px 0 0 8px;
}

.login-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 32px;
  background-color: #f0f8ff;
  height: 100%;
  border-radius: 0 8px 8px 0;
}

.login-container h2 {
  text-align: center;
  color: #333;
  margin-bottom: 24px;
  font-size: 24px;
  font-weight: bold;
}

.login-control {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.loginlabel {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: bold;
  display: block;
  margin-bottom: 4px;
  color: #333;
}

.loginbutton {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 12px;
  transition: background-color 0.3s ease;
}

.loginbutton:hover {
  background-color: #51c051;
}

.loginlink-container {
  text-align: center;
  margin-top: 16px;
}

.loginlink-container p {
  font-size: 14px;
  color: #007bff;
  text-decoration: none;
  cursor: pointer;
  margin: 0;
  transition: color 0.3s ease;
}

.loginlink-container p:hover {
  color: #0056b3;
  text-decoration: underline;
}

.login-container p {
  text-align: center;
  margin-top: 20px;
  color: #555;
  font-size: 14px;
}

.login-container p a {
  color: #007bff;
  text-decoration: none;
}

.login-container p a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .login-section {
    flex-direction: column;
    height: auto;
    width: 90vw;
    padding: 16px;
  }



  .login-container {
    width: 100%;
    border-radius: 8px;
  }

  .login-container h2 {
    font-size: 22px;
  }

  .login-control {
    padding: 10px;
    font-size: 14px;
  }

  .loginbutton {
    padding: 14px;
    font-size: 16px;
  }

  .loginlink-container p {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .login-section {
    width: 100vw;
    height: auto;
  }

  .login-container {
    padding: 12px;
  }

  .login-container h2 {
    font-size: 20px;
  }

  .login-control {
    padding: 8px;
    font-size: 14px;
  }

  .loginbutton {
    padding: 12px;
    font-size: 14px;
  }
}

.password-input-container {
  display: flex;
  align-items: center;
  position: relative;
}

.eye-button {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: -30px;
  outline: none;
  color: #0b0b0b;
  position: absolute;
  right: 10px;
  padding: 0;
}

.eye-button:hover {
  color: #0056b3;
}

